/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    /* color: #333; */
    overflow-x: hidden;
    max-width: 100%;
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* header */
.header {
    background-color: transparent;
    position: fixed;
    top: 0%;
    width: 100%;
    /* opacity: 20%; */
    z-index: 3;
    /* background-color: #000; */
}

header:hover {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 100%;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
}

.header li a {
  display: inline-block;
  padding: 20px 20px;
  color: #fff; /* white text */
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
  text-decoration: none;
}

.header li a::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: 0;
    /* left: 0; */
    right: 3px;
    background-color: transparent;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header li a:hover::before,
.header li a.active::before {
    transform: scaleX(1);
    background-color: #fff;
    bottom: 5px;
    gap: 20px;

}

.header li a.active {
    color: #fff;
}

/* 
.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
} */



.header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

.header .logo img {
    height: 25px;
    width: auto;
    position: relative;
    top: 10px;
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }



     
}




/* Preloader Styles */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the bounce height as needed */
  }
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha (0.8 in this case) to control transparency */
  display: flex;
  background-size: 10%;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
}

.preloader img {
  width: 50px; /* Adjust the size as needed */
  animation: bounce 1s infinite; /* Apply bounce animation to the image */
  animation-timing-function: ease-in-out; /* Add smooth timing function for the bounce */
}








#collections{
  display: flex;
  flex-direction: column;
}



#Category{
  background-color: #000;
}
.category {
  display: flex;
  flex-direction: column; /* Change to a column layout for mobile */
  justify-content: space-evenly; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  /* margin-top: 5%; */
  margin-bottom: 5%;
  /* background: transparent; */
  background-color: #000;
  
}

.cat_list {
  display: flex;
  flex-direction: column; /* Change to a column layout for mobile */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 5%;
  /* margin-bottom: 5%; */
  background-color: transparent;
  /* gap: 100px; Reduce the gap between items for mobile */
}

@media (max-width: 768px) { /* Adjust the max-width as needed for your mobile layout */
  .category {
    margin-top: 10%; /* Add margin-top for mobile */
  }

  .cat_list {
    margin-top: 15%; /* Add margin-top for mobile */
    /* Remove margin-bottom for mobile if needed */
  }

  /* Rest of your mobile-specific styles */
  .header .logo img {
    height: 15px;
    width: auto;
    position: relative;
    top: 10px;
  }
}


.cat_list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px; /* Reduce the gap between items for mobile */
}

.cat_list li {
  text-align: center;
  margin: 10px;
  flex: 1; /* Make each item take up the full width on mobile */
  max-width: 250px; /* Limit the max width for each item on mobile */
}

.cat_link {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
}

.cat_link img {
  width: 100px; /* Adjust the image size as needed */
  height: 100px; /* Adjust the image size as needed */
  border-radius: 20%;
  margin-bottom: 5px;
}

.cat_link span {
  font-weight: bold;
}

.cat_link:hover {
  transform: scale(1.1); /* Adjust the scale factor for hover effect */
  color: whitesmoke;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.hero .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero p {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero a.btn {
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-dark {
  background-color: #000;
  color: #fff;
  border: none;
}

.btn-dark:hover {
  background-color: #333;
}

.text-muted {
  color: #999;
}

.small {
  font-size: 12px;
}

.text-uppercase {
  text-transform: uppercase;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-lg-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-center {
  background-position: center;
}



.text-center{
  position: relative;
  top: 20px;
}

/* product Cards */

#temp-nsmt-fit {
  /* position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; */
  background-color: #000;
}

#pla-nsmt-fit{
  background-color: #000;
}

.card-to-stop-carousel:hover .image-carousel .img {
  animation: none !important; /* Remove the animation */
}




.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  width: 360px;
  padding: 15px;
  margin: 15px auto;
  background-color: #000000;
  /* color: white; */
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }
}

.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

/* .el-wrapper:hover .img {
  webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
} */

.el-wrapper:hover .info-inner  {
  bottom: 155px;
}

.el-wrapper:hover .img-info {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow:#fff;
}

.el-wrapper .img {
  padding: 20px 0;
  max-width: 50%;
  position: relative;
  left : 4%;
  /* -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1); */
  /* ease-out */
  /* -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1); */
  /* ease-out */
}

.h-bg {
  /* -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  ease-out
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  ease-out */
  width: 660px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 15px;
}

.info-inner {
  display: block;
  position: relative;
}

.info-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('black-particles.png'); /* Add your particle image URL */
  opacity: 0.4; /* Adjust the opacity as needed */
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
  position: relative;
  z-index: 1; /* Ensure the text is on top of the pseudo-element */
  color: white; /* Set the text color to white */
  /* Add other text styles as necessary */
}


.info-inner .p-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: white;
}

.info-inner .p-company {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(104, 104, 104);
}

.a-size {
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: 'PT Sans', sans-serif;
  color: #828282;
  opacity: 0;
}

.a-size .size {
  color: #ffffff;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
}

.cart .add-to-cart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #000;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}

.image-carousel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* position: absolute;
  left: 20%; */
  gap: 10px;
  /* align-content: center; */
  overflow: hidden; /* Hide the overflowing images */
  width: 500px; /* Adjust the width as needed */
}

.el-wrapper:hover .image-carousel .img {
  width: 100%; /* Set the width of each image */
  animation: carousel 8s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes carousel {
  0%, 100% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
}

#contact{
  background-color: #000;
}

.contact-bg{
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(/img/Room.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3{
  font-size: 1.3rem;
  font-weight: 400;
}
.contact-bg h2{
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line div{
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
  height: 3px;
  width: 70px;
  background: white;
  border-radius: 5px;
}
.line{
  display: flex;
  align-items: center;
}
.line div:nth-child(2){
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.text{
  font-weight: 300;
  opacity: 0.9;
}
.contact-bg .text{
  margin: 1.6rem 0;
}
.contact-body{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info{
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span{
  display: block;
  color: white;
}
.contact-info div{
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas{
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: rgb(255, 255, 255);
}
.contact-info div span:nth-child(2){
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text{
  padding-top: 0.4rem;
}
.contact-form{
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}
.contact-form form{
  padding-bottom: 1rem;
}
.form-control{
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  outline: 0;
}
.form-control:focus{
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}
.send-btn{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  background: white;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.send-btn:hover{
  opacity: 0.8;
}


.customer_image{
  position: absolute;
  bottom:535px;
  right: 5%;
  width: 35%;

}
.contact-form > div img{
  width: 10%;
}
.contact-form > div{
  margin: 0 auto;
  text-align: center;
}
.contact-footer{
  padding: 2rem 0;
  background: #000;
}
.contact-footer h3{
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links{
  display: flex;
  justify-content: center;
}
.social-links a{
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}
.social-links a:hover{
  color: white;
  border-color: black;
}

@media screen and (min-width: 768px){
  .contact-bg .text{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
  }
  .contact-info{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px){
  .contact-bg .text{
      width: 50%;
  }
  .contact-form{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
  }
}

@media screen and (min-width: 1200px){
  .contact-info{
      grid-template-columns: repeat(4, 1fr);
  }
}

/* For fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 3.5s ease forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .image-animation {
    animation: enter-animation 0.8s 1;
  }
}

/* Define the styles for the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 6px; /* Round the thumb */
}

/* Define the styles for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}



